#root {
  display: flex;
}

.playlist {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 20px;
  height: 270px;
  width: 150px;
  overflow-y: hidden;
}

.playlist-item {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  flex-shrink: 0;
  transition: all 0.3s;
}
.center_arrow{
  width: 190px;
  text-align: center;
}
#iframe_yt{
  margin-top: 29px;
}
img:hover, .playlist-item:hover {
  cursor: pointer;
}